# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
.env

# Airflow local dev artifacts
standalone_admin_password.txt
airflow.db
airflow-webserver.pid
logs/

# SageMaker artifacts
.sagemaker/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
